body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

strong{
    font-weight: 700;
}

/* sections */

.colored-section{
    background-color: rgb(33, 241, 241);
    color: #fff;
}

.white-section{
    background-color: #fff;
}

/* headings */

.large-heading{
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}

/* buttons */

.download-button{
    margin: 5% 3% 5% 0;
}

/* title section */

.title-container{
    text-align: left;
}

.title-container{
    padding: 3% 15% 7%;
}

/* navbar */

.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 2.3rem;
}

.nav-item{
    padding: 0 16px;
}

.nav-link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}

/*  title section */


/* title image */

.iphoneCatImg{
    transform: rotate(15deg);
    width: 21%;
    position: absolute;
    right: 20%;
}

/* Features Section */

#features{
    padding: 7% 15%;
    position: relative;
}

/* feature icons */

#features i{
    color: rgb(33, 196, 196);
    margin-bottom: 1rem;
}

#features i:hover{
    color: rgb(33, 241, 241);
    cursor: pointer;
}

/* features container-box, heading and description */

.features-box{
    min-width: 300px;
    margin: 6% 0;
    /* text-align: center; */
}

.features-head{
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;
    font-size: 1.5rem;
}

#features p{
    font-family: 'Montserrat', sans-serif; 
    color: #8f8f8f;
}


/* testimonials section*/


.carousel-item{
    padding: 7% 15%;
}

.testimonial-image{
    margin: 20px;
    width: 12%;
    border-radius:100%;
}


/* press section*/

#press{
    padding-bottom: 3%;
}

.press-image{
    width: 10%;
    margin: 20px 20px 50px;
}

/* pricing section*/

#pricing{
    padding: 7% 15%;
}

.pricing-column{
    padding: 8% 1%;
}

.pricing-heading{
    font-weight: 100;
    font-size: 2.5rem;
    line-height: 2;
}

/* cta section */

#cta{
    padding: 7% 15%;
}

/* footer section */

#footer{
    padding: 7% 15%;
}

/* footer icons (social icons) */

#footer a{
    font-size: 1.2rem;
    padding: 30px 15px;
    text-decoration: none;
    color: #000;
    display: inline-block;
}

/* copyright description */

#footer p{
    color: #8f8f8f;
}

/* Media Query for Responsiveness and Mobile Working */

@media (max-width: 1300px){
    
    .iphoneCatImg{
        right: 12%;
    }
}

@media only screen and (max-width: 992px){

    .title-container{
        text-align: center;
    }

    .large-heading{
        font-family: 'Montserrat', sans-serif; 
        font-size: 2rem;
        font-weight: 900;
        line-height: 1.3;
    }
    .iphoneCatImg{
        margin: 12% 0;
        width: 80%;
        position: static;
        transform: none;
    }
    
    .carousel-item{
        padding: 15% 15% 7%;
    }

    #press{
        padding-top: 10%;
    }

    .press-image{
        width: 25%;
    }

}